:root {
  --primary-bg-color: #f0e7d5;
  --primary-text: #212842;
  --horizontal-padding: 2rem;
  ---my-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(---my-font-family);
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--primary-bg-color);
  scroll-behavior: smooth;
}

figcaption {
  visibility: hidden;
}

.bg {
  background: var(--primary-bg-color);
  color: var(--primary-text);
}

.rev-bg {
  background-color: #191f34;
  color: var(--primary-bg-color);
}

nav {
  width: 100%;
  height: 8%;
  position: fixed;
  background: #f0e7d5;
  padding: 0px 2rem;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 1px solid var(--primary-text);
}

#mobile-nav {
  display: block;
  font-weight: 900;
  font-size: x-large;
  background: transparent;
  border: none;
}

#nav-menu {
  display: none;
  /* display: flex; */
  list-style: none;
  gap: var(--horizontal-padding);
  font-size: larger;
  font-weight: 500;
}

.nav-links {
  display: block;
}

nav > h1 {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-text);
  display: none;
}

#nav-menu li {
  cursor: pointer;
  padding: 0px 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: large;
  transition: transform 0.2s linear;
}

#nav-menu li:hover {
  transform: scale(1.05);
  text-decoration: overline;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    var(--primary-bg-color) 50%,
    var(--primary-text) 50%
  );
  position: relative;
}

.cta {
  height: 8%;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  background: transparent;
  gap: 8px;
  padding: 0px 2rem;
  justify-content: space-between;
}

.cta-btn {
  width: 100%;
  height: 100%;
  padding: 6px 0px;
  background: var(--primary-bg-color);
  color: var(--primary-text);
  border-radius: 25px;
  border: none;
  font-weight: bolder;
  font-size: medium;
  box-shadow: 2px 2px var(--primary-text);
}

.cta .rev {
  background: var(--primary-text);
  color: var(--primary-bg-color);
}

.cta-btn-desktop {
  width: max-content;
  padding: 0.5rem 1rem;
  border: none;
}

.hero .hero-image {
  display: flex;
  align-items: center;
  margin-top: 22rem;
  padding-left: 2rem;
}

.hero-image img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  display: block;
}

.floating-quotes {
  display: none;
}

.section {
  padding: 0px 2rem;
  width: 100%;
  height: 100%;
  font-family: var(---my-font-family);
}

.banner {
  height: max-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background: #191f34;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  font-family: var(---my-font-family);
  font-weight: 600;
  font-size: 2rem;
  border-top: 1px solid var(--primary-bg-color);
  border-bottom: 1px solid var(--primary-bg-color);
}

.book {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.book-rev {
  flex-direction: column;
}

.book .book-text {
  height: max-content;
  display: flex;
  text-align: justify;
}

.book-text > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: max-content;
}

.book .book-image {
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: center;
}

.book-image img {
  height: 90%;
  border-radius: 24px;
}

.footer-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--primary-bg-color);
  color: var(--primary-text);
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
}

footer {
  background: #191f34;
  color: var(--primary-bg-color);
  height: 50vh;
  position: relative;
}

footer .mobile-socials {
  position: absolute;
  width: 100%;
  padding: 4px 2rem;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.mobile-socials > div {
  display: flex;
  gap: 8px;
}

.form {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

form h3 {
  position: absolute;
  text-align: center;
}
footer form {
  width: 100%;
  padding: 4px 2rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

form input {
  background: #191f34;
  color: white;
  border: none;
  border-bottom: 1px solid var(--primary-bg-color);
  padding: 4px;
  font-size: large;
}

form input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-bg-color);
}

form textarea:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-bg-color);
}

form textarea {
  background: #191f34;
  color: white;
  border: none;
  border-bottom: 1px solid var(--primary-bg-color);
  padding: 4px;
  font-size: large;
}

form button {
  background: var(--primary-bg-color);
  margin-top: 12px;
  border: none;
  padding: 4px 0px;
  font-weight: bold;
}
.desktop-socials {
  display: none;
}

.desktop-socials > div {
  cursor: pointer;
}

/* Tablets */
@media only screen and (min-width: 728px) {
  .hero-image img {
    padding-left: 6rem;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1024px) {
  nav {
    padding: 0px 4rem;
  }
  #mobile-nav {
    display: none;
  }

  nav h1 {
    display: block;
    font-weight: 600;
  }
  #nav-menu {
    display: flex;
  }
  nav h2 {
    display: none;
  }
  .hero {
    position: relative;
  }
  .cta {
    display: none;
  }
  .hero-image {
    display: flex;
    justify-items: center;
    align-items: end;
  }
  .hero-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding-left: 8rem;
    display: block;
  }

  .floating-quotes {
    display: block;
    position: absolute;
    font-size: 4rem;
    width: 25%;
    margin: 0px 4rem;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #left {
    left: 0;
    color: var(--primary-text);
  }

  #right {
    right: 0;
    text-align: end;
    color: var(--primary-bg-color);
    align-items: end;
  }
  #left button {
    background: var(--primary-text);
    color: var(--primary-bg-color);
    border-radius: 25px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
  }
  #right button {
    background: var(--primary-bg-color);
    color: var(--primary-text);
    border-radius: 25px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
  }
  .banner {
    font-size: 6em;
  }

  .section {
    padding: 0px 4rem;
  }

  .book {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .book .book-text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: start;
  }

  .book-text > div {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .book .book-image {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    justify-content: end;
  }

  .book-image img {
    width: 100%;
    height: 70%;
    border-radius: 24px;
    object-fit: cover;
  }

  .book-text h2 {
    font-size: 4rem;
  }

  .book-text p {
    padding-left: 4px;
  }
  .footer-banner {
    font-size: 4rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 4rem;
    height: max-content;
  }

  footer .desktop-socials {
    display: grid;
    width: 50vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 8px;
    gap: 8px;
  }

  footer .desktop-socials div {
    border: 1px solid var(--primary-bg-color);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 8px;
  }

  footer .desktop-socials > div:hover{
    background: var(--primary-bg-color);
    color: var(--primary-text);
  }

  footer .form {
    width: 50%;
    height: 100%;
  }

  footer form {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
  }

  footer button {
    padding: 8px 0px;
    border-radius: 8px;
    font-size: larger;
    cursor: pointer;
  }

  footer .mobile-socials {
    display: none;
  }
}

/* Very Large devices */
@media only screen and (min-width: 1440px) {
  nav {
    padding: 0 8rem;
  }

  .section {
    padding: 0px 8rem;
  }

  .floating-quotes {
    margin: 0px 8rem;
    font-size: 5rem;
  }

  .book .book-text {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: start;
  }

  .book-text h2 {
    font-size: 8rem;
  }

  .banner {
    font-size: 6em;
  }

  footer {
    height: 40vh;
    padding: 8px 8rem;
  }
  footer .desktop-socials div {
    border: 1px solid var(--primary-bg-color);
    font-size: 3rem;
  }

  footer .form {
    width: 50%;
  }

  footer .mobile-socials {
    display: none;
  }
}
