:root {
  --primary-bg-color: #f0e7d5;
  --primary-text: #212842;
  --horizontal-padding: 2rem;
  ---my-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(---my-font-family);
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--primary-bg-color);
  scroll-behavior: smooth;
}

figcaption {
  visibility: hidden;
}

.bg {
  background: var(--primary-bg-color);
  color: var(--primary-text);
}

.rev-bg {
  background-color: #191f34;
  color: var(--primary-bg-color);
}

nav {
  width: 100%;
  height: 8%;
  position: fixed;
  background: #f0e7d5;
  padding: 0px 2rem;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 1px solid var(--primary-text);
}

#mobile-nav {
  display: block;
  font-weight: 900;
  font-size: x-large;
  background: transparent;
  border: none;
}

#nav-menu {
  display: none;
  /* display: flex; */
  list-style: none;
  gap: var(--horizontal-padding);
  font-size: larger;
  font-weight: 500;
}

.nav-links {
  display: block;
}

nav > h1 {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-text);
  display: none;
}

#nav-menu li {
  cursor: pointer;
  padding: 0px 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: large;
  transition: transform 0.2s linear;
}

#nav-menu li:hover {
  transform: scale(1.05);
  text-decoration: overline;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    var(--primary-bg-color) 50%,
    var(--primary-text) 50%
  );
  position: relative;
}

.cta {
  height: 8%;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  background: transparent;
  gap: 4px;
  padding: 2px 1rem;
  justify-content: space-between;
}

.cta-btn {
  width: 100%;
  height: 100%;
  background: var(--primary-bg-color);
  color: var(--primary-text);
  border-radius: 25px;
  border: none;
  font-weight: bolder;
  font-size: medium;
}

.cta .rev{
  background: var(--primary-text);
  color: var(--primary-bg-color);
}

.cta-btn-desktop {
  width: max-content;
  padding: 0.5rem 1rem;
  border: none;
}

.hero .hero-image {
  display: flex;
  align-items: center;
  margin-top: 22rem;
  padding-left: 2rem;
}

.hero-image img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  display: block;
}

.floating-quotes {
  display: none;
}

.section {
  padding: 0px 2rem;
  width: 100%;
  height: 100%;
  font-family: var(---my-font-family);
}

.banner {
  height: max-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background: #191f34;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  font-family: var(---my-font-family);
  font-weight: 600;
  font-size: 2rem;
  border-top: 1px solid var(--primary-bg-color);
  border-bottom: 1px solid var(--primary-bg-color);
}

.footer-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--primary-bg-color);
  color: var(--primary-text);
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
}

footer {
  background: #191f34;
  height: 50vh;
}

/* Tablets */
@media only screen and (min-width: 728px) {
  .hero-image img {
    padding-left: 6rem;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1024px) {
  nav {
    padding: 0px 4rem;
  }
  #mobile-nav {
    display: none;
  }

  nav h1 {
    display: block;
    font-weight: 600;
  }
  #nav-menu {
    display: flex;
  }
  nav h2 {
    display: none;
  }
  .hero {
    position: relative;
  }
  .cta {
    display: none;
  }
  .hero-image {
    display: flex;
    justify-items: center;
    align-items: end;
  }
  .hero-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding-left: 8rem;
    display: block;
  }

  .floating-quotes {
    display: block;
    position: absolute;
    font-size: 4rem;
    width: 25%;
    margin: 0px 4rem;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #left {
    left: 0;
    color: var(--primary-text);
  }

  #right {
    right: 0;
    text-align: end;
    color: var(--primary-bg-color);
    align-items: end;
  }
  #left button {
    background: var(--primary-text);
    color: var(--primary-bg-color);
    border-radius: 25px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
  }
  #right button {
    background: var(--primary-bg-color);
    color: var(--primary-text);
    border-radius: 25px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
  }
  .banner {
    font-size: 6em;
  }

  .section {
    padding: 0px 4rem;
  }

  .footer-banner {
    font-size: 4rem;
  }
}

/* Very Large devices */
@media only screen and (min-width: 1440px) {
  nav {
    padding: 0 8rem;
  }

  .section {
    padding: 0px 8rem;
  }

  .floating-quotes {
    margin: 0px 8rem;
    font-size: 5rem;
  }

  .banner {
    font-size: 6em;
  }
}
