* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 60px 1fr 160px 100px;
}

header,
nav,
section,
article,
aside,
footer {
  border: 1px solid black;
  padding: 12px;
}

header {
  grid-column: 1/13;
  background-color: beige;
}
nav {
  grid-column: 1/13;
  background-color: beige;
}
section,
article {
  grid-column: 1 / 11;

  @media (max-width: 799px) {
    grid-column: 1 / 6;
  }
}
aside {
  grid-column: 11/13;
  grid-row: 3/5;
  background-color: beige;

  @media screen and (max-width: 799px) {
    grid-column: 6/13;
  }
}
footer {
  grid-column: 1/13;
  background-color: beige;
}
